# **ARTIFICIAL INTELLIGENCE CAT 2 (GROUP WORK)**

## Diabetes Progression Analysis using Artificial Neural Network Model

### Group Members


*   Muli Postinah - 108222
*   Chelsea Wanjiku - 112269
*   Esther Ndegwa - 111530
*   Ayiera Nasha - 110503

## **Introduction**
This dataset is based on a study that was carried out on diabetic patients. 

There are 10 baseline requirements that were obtained from each of the 442 patients :
* Age
* Sex
* Body ass Index
* Average Blood Pressure
* 6 blood serum measuremts

Each of the requirements have been mean centered and scaled by the standard deviation times n_samples.


A year later, the quantitative measure of disease progression - one year after baseline requirements were collected.

## Importing Libraries and Data

In [457]:
import pandas as pdsets 
from sklearn import datasets
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

In [458]:

# Load the dataset
diabetes_data=datasets.load_diabetes()

In [459]:
diabetes_data.data.shape

(442, 10)

Display contents of the dataset

In [460]:
diabetes_data.keys()

dict_keys(['data', 'target', 'DESCR', 'feature_names', 'data_filename', 'target_filename'])

In [461]:
diabetes_data.DESCR

'.. _diabetes_dataset:\n\nDiabetes dataset\n----------------\n\nTen baseline variables, age, sex, body mass index, average blood\npressure, and six blood serum measurements were obtained for each of n =\n442 diabetes patients, as well as the response of interest, a\nquantitative measure of disease progression one year after baseline.\n\n**Data Set Characteristics:**\n\n  :Number of Instances: 442\n\n  :Number of Attributes: First 10 columns are numeric predictive values\n\n  :Target: Column 11 is a quantitative measure of disease progression one year after baseline\n\n  :Attribute Information:\n      - Age\n      - Sex\n      - Body mass index\n      - Average blood pressure\n      - S1\n      - S2\n      - S3\n      - S4\n      - S5\n      - S6\n\nNote: Each of these 10 feature variables have been mean centered and scaled by the standard deviation times `n_samples` (i.e. the sum of squares of each column totals 1).\n\nSource URL:\nhttps://www4.stat.ncsu.edu/~boos/var.select/diabetes.html\n\nFor more information see:\nBradley Efron, Trevor Hastie, Iain Johnstone and Robert Tibshirani (2004) "Least Angle Regression," Annals of Statistics (with discussion), 407-499.\n(https://web.stanford.edu/~hastie/Papers/LARS/LeastAngle_2002.pdf)'

In [462]:
diabetes_data.feature_names

['age', 'sex', 'bmi', 'bp', 's1', 's2', 's3', 's4', 's5', 's6']

Check dataset type before converting to pandas dataframe for easier analysis

In [463]:
print(type(diabetes_data))

<class 'sklearn.utils.Bunch'>

Convert Scikit-learn dataset to a pandas dataframe for easier manipulation( solution without numpy )

In [464]:
df_diabetes = pd.DataFrame(diabetes_data.data,columns=diabetes_data.feature_names)
df_diabetes['target'] = pd.Series(diabetes_data.target)

In [466]:
# Confirm type of new dataset 
type(df_diabetes)

pandas.core.frame.DataFrame

In [467]:
df_diabetes.shape

(442, 11)

In [468]:
# Check for null values 
df_diabetes.isnull().sum()

age       0
sex       0
bmi       0
bp        0
s1        0
s2        0
s3        0
s4        0
s5        0
s6        0
target    0
dtype: int64

In [469]:
# Display top 5 rows
df_diabetes.head(5)

        age       sex       bmi        bp  ...        s4        s5        s6  target
0  0.038076  0.050680  0.061696  0.021872  ... -0.002592  0.019908 -0.017646   151.0
1 -0.001882 -0.044642 -0.051474 -0.026328  ... -0.039493 -0.068330 -0.092204    75.0
2  0.085299  0.050680  0.044451 -0.005671  ... -0.002592  0.002864 -0.025930   141.0
3 -0.089063 -0.044642 -0.011595 -0.036656  ...  0.034309  0.022692 -0.009362   206.0
4  0.005383 -0.044642 -0.036385  0.021872  ... -0.002592 -0.031991 -0.046641   135.0

[5 rows x 11 columns]

In [470]:
# Display bottom 5 rows 
df_diabetes.tail(5)

          age       sex       bmi  ...        s5        s6  target
437  0.041708  0.050680  0.019662  ...  0.031193  0.007207   178.0
438 -0.005515  0.050680 -0.015906  ... -0.018118  0.044485   104.0
439  0.041708  0.050680 -0.015906  ... -0.046879  0.015491   132.0
440 -0.045472 -0.044642  0.039062  ...  0.044528 -0.025930   220.0
441 -0.045472 -0.044642 -0.073030  ... -0.004220  0.003064    57.0

[5 rows x 11 columns]

Get insight on the dataframe

In [471]:
df_diabetes.describe()

                age           sex  ...            s6      target
count  4.420000e+02  4.420000e+02  ...  4.420000e+02  442.000000
mean  -3.634285e-16  1.308343e-16  ... -3.412882e-16  152.133484
std    4.761905e-02  4.761905e-02  ...  4.761905e-02   77.093005
min   -1.072256e-01 -4.464164e-02  ... -1.377672e-01   25.000000
25%   -3.729927e-02 -4.464164e-02  ... -3.317903e-02   87.000000
50%    5.383060e-03 -4.464164e-02  ... -1.077698e-03  140.500000
75%    3.807591e-02  5.068012e-02  ...  2.791705e-02  211.500000
max    1.107267e-01  5.068012e-02  ...  1.356118e-01  346.000000

[8 rows x 11 columns]

In [472]:
df_diabetes.info

<bound method DataFrame.info of           age       sex       bmi  ...        s5        s6  target
0    0.038076  0.050680  0.061696  ...  0.019908 -0.017646   151.0
1   -0.001882 -0.044642 -0.051474  ... -0.068330 -0.092204    75.0
2    0.085299  0.050680  0.044451  ...  0.002864 -0.025930   141.0
3   -0.089063 -0.044642 -0.011595  ...  0.022692 -0.009362   206.0
4    0.005383 -0.044642 -0.036385  ... -0.031991 -0.046641   135.0
..        ...       ...       ...  ...       ...       ...     ...
437  0.041708  0.050680  0.019662  ...  0.031193  0.007207   178.0
438 -0.005515  0.050680 -0.015906  ... -0.018118  0.044485   104.0
439  0.041708  0.050680 -0.015906  ... -0.046879  0.015491   132.0
440 -0.045472 -0.044642  0.039062  ...  0.044528 -0.025930   220.0
441 -0.045472 -0.044642 -0.073030  ... -0.004220  0.003064    57.0

[442 rows x 11 columns]>

## Splitting the Data for Training and Testing

In [473]:
df_diabetes.columns

Index(['age', 'sex', 'bmi', 'bp', 's1', 's2', 's3', 's4', 's5', 's6',
       'target'],
      dtype='object')

In [474]:
# labels : y_train
# features: X_train 

y_train = df_diabetes['target']
X_train = df_diabetes.drop(columns=['target'])

In [475]:
X_train[0:15]

         age       sex       bmi  ...        s4        s5        s6
0   0.038076  0.050680  0.061696  ... -0.002592  0.019908 -0.017646
1  -0.001882 -0.044642 -0.051474  ... -0.039493 -0.068330 -0.092204
2   0.085299  0.050680  0.044451  ... -0.002592  0.002864 -0.025930
3  -0.089063 -0.044642 -0.011595  ...  0.034309  0.022692 -0.009362
4   0.005383 -0.044642 -0.036385  ... -0.002592 -0.031991 -0.046641
5  -0.092695 -0.044642 -0.040696  ... -0.076395 -0.041180 -0.096346
6  -0.045472  0.050680 -0.047163  ... -0.039493 -0.062913 -0.038357
7   0.063504  0.050680 -0.001895  ...  0.017703 -0.035817  0.003064
8   0.041708  0.050680  0.061696  ... -0.002592 -0.014956  0.011349
9  -0.070900 -0.044642  0.039062  ... -0.002592  0.067736 -0.013504
10 -0.096328 -0.044642 -0.083808  ... -0.076395 -0.062913 -0.034215
11  0.027178  0.050680  0.017506  ...  0.071210 -0.096433 -0.059067
12  0.016281 -0.044642 -0.028840  ... -0.039493 -0.030751 -0.042499
13  0.005383  0.050680 -0.001895  ... -0.002592  0.038393 -0.013504
14  0.045341 -0.044642 -0.025607  ... -0.039493 -0.031991 -0.075636

[15 rows x 10 columns]

In [476]:
y_train = df_diabetes[['target']]
y_train[:5]

   target
0   151.0
1    75.0
2   141.0
3   206.0
4   135.0

In [477]:
# labels : y_train
# features: X_train 

X_train, X_test, y_train, y_test = train_test_split(X_train, y_train, test_size = 0.3)

In [478]:
from sklearn.preprocessing import MinMaxScaler
import numpy as np

In [479]:
# Normalizing and scaling the data
scaler = MinMaxScaler(feature_range=(0, 1))
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [480]:
X_train[:10]

array([[0.7       , 0.        , 0.56465517, 0.23943662, 0.65445026,
        0.57370518, 0.32467532, 0.42313117, 0.59503518, 0.57575758],
       [0.25      , 0.        , 0.10775862, 0.35211268, 0.39267016,
        0.35159363, 0.46753247, 0.14104372, 0.30934794, 0.24242424],
       [0.33333333, 1.        , 0.25431034, 0.38967136, 0.41884817,
        0.35856574, 0.38961039, 0.23272214, 0.50086413, 0.65151515],
       [0.5       , 1.        , 0.33189655, 0.38028169, 0.37696335,
        0.38346614, 0.22077922, 0.42313117, 0.50086413, 0.86363636],
       [0.46666667, 0.        , 0.53017241, 0.81690141, 0.46596859,
        0.39043825, 0.31168831, 0.28208745, 0.61652115, 0.43939394],
       [0.4       , 0.        , 0.74568966, 0.43661972, 0.39267016,
        0.29183267, 0.28571429, 0.28208745, 0.69779802, 0.65151515],
       [0.7       , 1.        , 0.32327586, 0.32394366, 0.38743455,
        0.37151394, 0.22077922, 0.42313117, 0.56437353, 0.60606061],
       [0.56666667, 1.        , 0.39655172, 0.28169014, 0.04712042,
        0.06673307, 0.22077922, 0.14104372, 0.51016984, 0.53030303],
       [0.38333333, 0.        , 0.29310345, 0.4084507 , 0.4921466 ,
        0.49900398, 0.20779221, 0.42313117, 0.4977113 , 0.46969697],
       [0.68333333, 1.        , 0.64224138, 0.49295775, 0.56020942,
        0.41832669, 0.2987013 , 0.42313117, 0.74706698, 0.81818182]])

In [481]:
X_train.shape

(309, 10)

In [482]:
X_test.shape

(133, 10)

## Building, training and testing the model using ANN

In [483]:
import tensorflow as tf
from tensorflow import keras
from keras import layers
from keras.models import Sequential
from keras.layers import Dense
from keras.optimizers import SGD, RMSprop

In [484]:
# Define Keras models

model = Sequential()

# input dimension has to be similar to the number of columns expected
# activation is specified as 'relu' for the first layers

model.add(layers.Dense(60, input_dim = 10, activation='relu'))
model.add(layers.Dense(30, activation = 'relu'))


model.add(Dense(1))  # default activation is linear

In [485]:
model.summary()

Model: "sequential_14"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_46 (Dense)             (None, 60)                660
_________________________________________________________________
dense_47 (Dense)             (None, 30)                1830
_________________________________________________________________
dense_48 (Dense)             (None, 1)                 31
=================================================================
Total params: 2,521
Trainable params: 2,521
Non-trainable params: 0
_________________________________________________________________

MSE function caters for outliers as well, hence a higher loss.

Mean Square Log Error (MSLE), a variation of the MSE function, does not pay attention to the outliers, hence a lower loss.

In [554]:
# Compile model - using MSLE

opt = SGD (lr = 0.01, momentum = 0.9) # learning rate and momentum
model.compile(loss = 'msle', optimizer = opt, metrics=['mae', 'mse']) 

# included MAE and MSE for comparison purposes

In [556]:
# Fit model
history = model.fit(X_train, y_train, validation_data=(X_test, y_test), epochs = 20, verbose=0)

hist = pd.DataFrame(history.history)
hist

        loss        mae          mse  val_loss    val_mae      val_mse
0   0.319548  66.429779  6002.418457  0.370189  66.178642  5831.714355
1   0.319545  66.429588  6002.413574  0.370184  66.178238  5831.663086
2   0.319542  66.429375  6002.411621  0.370178  66.177834  5831.612305
3   0.319539  66.429222  6002.415527  0.370173  66.177414  5831.558105
4   0.319536  66.429062  6002.419434  0.370167  66.176987  5831.502930
5   0.319533  66.428848  6002.416016  0.370161  66.176537  5831.446777
6   0.319529  66.428703  6002.417480  0.370156  66.176140  5831.395996
7   0.319526  66.428482  6002.410156  0.370150  66.175743  5831.346680
8   0.319523  66.428360  6002.411621  0.370145  66.175331  5831.293945
9   0.319520  66.428123  6002.404297  0.370140  66.174942  5831.244629
10  0.319517  66.427940  6002.402832  0.370134  66.174530  5831.192871
11  0.319514  66.427773  6002.405273  0.370129  66.174110  5831.139160
12  0.319511  66.427612  6002.407715  0.370123  66.173683  5831.083984
13  0.319507  66.427383  6002.401855  0.370118  66.173286  5831.034668
14  0.319504  66.427238  6002.406250  0.370112  66.172859  5830.979980
15  0.319502  66.427094  6002.413086  0.370106  66.172432  5830.924805
16  0.319498  66.426926  6002.408691  0.370101  66.172028  5830.875000
17  0.319495  66.426743  6002.410645  0.370095  66.171608  5830.822266
18  0.319492  66.426575  6002.409180  0.370090  66.171196  5830.769531
19  0.319489  66.426399  6002.410156  0.370085  66.170784  5830.717285

In [553]:
# Evaluate the keras model
train_model = model.evaluate(X_train, y_train, verbose=0)
test_model = model.evaluate(X_test, y_test, verbose=0)

print('Train :',train_model[0])
print('Test :',test_model[0])

Train : 0.3196089565753937
Test : 0.3702995181083679