# **ARTIFICIAL INTELLIGENCE CAT 2 (GROUP WORK)**

## Diabetes Progression Analysis using Artificial Neural Network Model

### Group Members


*   Muli Postinah - 108222
*   Chelsea Wanjiku - 112269
*   Esther Ndegwa - 111530
*   Ayiera Nasha - 110503

## **Introduction**
This dataset is based on a study that was carried out on diabetic patients. 

There are 10 baseline requirements that were obtained from each of the 442 patients :
* Age
* Sex
* Body ass Index
* Average Blood Pressure
* 6 blood serum measuremts

Each of the requirements have been mean centered and scaled by the standard deviation times n_samples.


A year later, the quantitative measure of disease progression - one year after baseline requirements were collected.

## Importing Libraries and Data

In [1]:
import pandas as pd
from sklearn import datasets
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

In [2]:

# Load the dataset
diabetes_data=datasets.load_diabetes()

In [3]:
diabetes_data.data.shape

(442, 10)

Display contents of the dataset

In [4]:
diabetes_data.keys()

dict_keys(['data', 'target', 'DESCR', 'feature_names', 'data_filename', 'target_filename'])

In [5]:
diabetes_data.DESCR

'.. _diabetes_dataset:\n\nDiabetes dataset\n----------------\n\nTen baseline variables, age, sex, body mass index, average blood\npressure, and six blood serum measurements were obtained for each of n =\n442 diabetes patients, as well as the response of interest, a\nquantitative measure of disease progression one year after baseline.\n\n**Data Set Characteristics:**\n\n  :Number of Instances: 442\n\n  :Number of Attributes: First 10 columns are numeric predictive values\n\n  :Target: Column 11 is a quantitative measure of disease progression one year after baseline\n\n  :Attribute Information:\n      - Age\n      - Sex\n      - Body mass index\n      - Average blood pressure\n      - S1\n      - S2\n      - S3\n      - S4\n      - S5\n      - S6\n\nNote: Each of these 10 feature variables have been mean centered and scaled by the standard deviation times `n_samples` (i.e. the sum of squares of each column totals 1).\n\nSource URL:\nhttps://www4.stat.ncsu.edu/~boos/var.select/diabetes.html\n\nFor more information see:\nBradley Efron, Trevor Hastie, Iain Johnstone and Robert Tibshirani (2004) "Least Angle Regression," Annals of Statistics (with discussion), 407-499.\n(https://web.stanford.edu/~hastie/Papers/LARS/LeastAngle_2002.pdf)'

In [6]:
diabetes_data.feature_names

['age', 'sex', 'bmi', 'bp', 's1', 's2', 's3', 's4', 's5', 's6']

Check dataset type before converting to pandas dataframe for easier analysis

In [7]:
print(type(diabetes_data))

<class 'sklearn.utils.Bunch'>

Convert Scikit-learn dataset to a pandas dataframe for easier manipulation( solution without numpy )

In [8]:
df_diabetes = pd.DataFrame(diabetes_data.data,columns=diabetes_data.feature_names)
df_diabetes['target'] = pd.Series(diabetes_data.target)

In [9]:
# Confirm type of new dataset 
type(df_diabetes)

pandas.core.frame.DataFrame

In [10]:
df_diabetes.shape

(442, 11)

In [11]:
# Check for null values 
df_diabetes.isnull().sum()

age       0
sex       0
bmi       0
bp        0
s1        0
s2        0
s3        0
s4        0
s5        0
s6        0
target    0
dtype: int64

In [12]:
# Display top 5 rows
df_diabetes.head(5)

        age       sex       bmi        bp  ...        s4        s5        s6  target
0  0.038076  0.050680  0.061696  0.021872  ... -0.002592  0.019908 -0.017646   151.0
1 -0.001882 -0.044642 -0.051474 -0.026328  ... -0.039493 -0.068330 -0.092204    75.0
2  0.085299  0.050680  0.044451 -0.005671  ... -0.002592  0.002864 -0.025930   141.0
3 -0.089063 -0.044642 -0.011595 -0.036656  ...  0.034309  0.022692 -0.009362   206.0
4  0.005383 -0.044642 -0.036385  0.021872  ... -0.002592 -0.031991 -0.046641   135.0

[5 rows x 11 columns]

In [13]:
# Display bottom 5 rows 
df_diabetes.tail(5)

          age       sex       bmi  ...        s5        s6  target
437  0.041708  0.050680  0.019662  ...  0.031193  0.007207   178.0
438 -0.005515  0.050680 -0.015906  ... -0.018118  0.044485   104.0
439  0.041708  0.050680 -0.015906  ... -0.046879  0.015491   132.0
440 -0.045472 -0.044642  0.039062  ...  0.044528 -0.025930   220.0
441 -0.045472 -0.044642 -0.073030  ... -0.004220  0.003064    57.0

[5 rows x 11 columns]

Get insight on the dataframe

In [14]:
df_diabetes.describe()

                age           sex  ...            s6      target
count  4.420000e+02  4.420000e+02  ...  4.420000e+02  442.000000
mean  -3.634285e-16  1.308343e-16  ... -3.412882e-16  152.133484
std    4.761905e-02  4.761905e-02  ...  4.761905e-02   77.093005
min   -1.072256e-01 -4.464164e-02  ... -1.377672e-01   25.000000
25%   -3.729927e-02 -4.464164e-02  ... -3.317903e-02   87.000000
50%    5.383060e-03 -4.464164e-02  ... -1.077698e-03  140.500000
75%    3.807591e-02  5.068012e-02  ...  2.791705e-02  211.500000
max    1.107267e-01  5.068012e-02  ...  1.356118e-01  346.000000

[8 rows x 11 columns]

In [15]:
df_diabetes.info

<bound method DataFrame.info of           age       sex       bmi  ...        s5        s6  target
0    0.038076  0.050680  0.061696  ...  0.019908 -0.017646   151.0
1   -0.001882 -0.044642 -0.051474  ... -0.068330 -0.092204    75.0
2    0.085299  0.050680  0.044451  ...  0.002864 -0.025930   141.0
3   -0.089063 -0.044642 -0.011595  ...  0.022692 -0.009362   206.0
4    0.005383 -0.044642 -0.036385  ... -0.031991 -0.046641   135.0
..        ...       ...       ...  ...       ...       ...     ...
437  0.041708  0.050680  0.019662  ...  0.031193  0.007207   178.0
438 -0.005515  0.050680 -0.015906  ... -0.018118  0.044485   104.0
439  0.041708  0.050680 -0.015906  ... -0.046879  0.015491   132.0
440 -0.045472 -0.044642  0.039062  ...  0.044528 -0.025930   220.0
441 -0.045472 -0.044642 -0.073030  ... -0.004220  0.003064    57.0

[442 rows x 11 columns]>

## Splitting the Data for Training and Testing

In [16]:
df_diabetes.columns

Index(['age', 'sex', 'bmi', 'bp', 's1', 's2', 's3', 's4', 's5', 's6',
       'target'],
      dtype='object')

In [17]:
# labels : y_train
# features: X_train 

y_train = df_diabetes['target']
X_train = df_diabetes.drop(columns=['target'])

In [18]:
X_train[0:15]

         age       sex       bmi  ...        s4        s5        s6
0   0.038076  0.050680  0.061696  ... -0.002592  0.019908 -0.017646
1  -0.001882 -0.044642 -0.051474  ... -0.039493 -0.068330 -0.092204
2   0.085299  0.050680  0.044451  ... -0.002592  0.002864 -0.025930
3  -0.089063 -0.044642 -0.011595  ...  0.034309  0.022692 -0.009362
4   0.005383 -0.044642 -0.036385  ... -0.002592 -0.031991 -0.046641
5  -0.092695 -0.044642 -0.040696  ... -0.076395 -0.041180 -0.096346
6  -0.045472  0.050680 -0.047163  ... -0.039493 -0.062913 -0.038357
7   0.063504  0.050680 -0.001895  ...  0.017703 -0.035817  0.003064
8   0.041708  0.050680  0.061696  ... -0.002592 -0.014956  0.011349
9  -0.070900 -0.044642  0.039062  ... -0.002592  0.067736 -0.013504
10 -0.096328 -0.044642 -0.083808  ... -0.076395 -0.062913 -0.034215
11  0.027178  0.050680  0.017506  ...  0.071210 -0.096433 -0.059067
12  0.016281 -0.044642 -0.028840  ... -0.039493 -0.030751 -0.042499
13  0.005383  0.050680 -0.001895  ... -0.002592  0.038393 -0.013504
14  0.045341 -0.044642 -0.025607  ... -0.039493 -0.031991 -0.075636

[15 rows x 10 columns]

In [19]:
y_train = df_diabetes[['target']]
y_train[:5]

   target
0   151.0
1    75.0
2   141.0
3   206.0
4   135.0

In [20]:
# labels : y_train
# features: X_train 

X_train, X_test, y_train, y_test = train_test_split(X_train, y_train, test_size = 0.3)

In [21]:
from sklearn.preprocessing import MinMaxScaler
import numpy as np

In [22]:
# Normalizing and scaling the data
scaler = MinMaxScaler(feature_range=(0, 1))
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [23]:
X_train[:10]

array([[0.43333333, 0.        , 0.25619835, 0.29577465, 0.35078534,
        0.38247012, 0.30666667, 0.28208745, 0.3377287 , 0.34375   ],
       [0.61666667, 0.        , 0.53719008, 0.23474178, 0.40314136,
        0.49701195, 0.16      , 0.49365303, 0.28185176, 0.46875   ],
       [0.38333333, 1.        , 0.52066116, 0.54929577, 0.83246073,
        0.65039841, 0.37333333, 0.42313117, 0.77185061, 0.71875   ],
       [0.08333333, 0.        , 0.30165289, 0.30985915, 0.46073298,
        0.44721116, 0.24      , 0.42313117, 0.57338479, 0.453125  ],
       [0.58333333, 1.        , 0.29752066, 0.74647887, 0.37172775,
        0.39043825, 0.22666667, 0.42313117, 0.50668687, 0.5       ],
       [0.46666667, 1.        , 0.31404959, 0.45070423, 0.28795812,
        0.16533865, 0.24      , 0.28208745, 0.79648682, 0.515625  ],
       [0.65      , 1.        , 0.77272727, 0.77464789, 0.29319372,
        0.25996016, 0.29333333, 0.28208745, 0.59390358, 0.765625  ],
       [0.3       , 0.        , 0.83884298, 0.71830986, 0.28795812,
        0.26394422, 0.41333333, 0.14104372, 0.42428531, 0.296875  ],
       [0.66666667, 1.        , 0.29338843, 0.3943662 , 0.27748691,
        0.29780876, 0.32      , 0.28208745, 0.3859253 , 0.484375  ],
       [0.55      , 0.        , 0.20661157, 0.63380282, 0.36125654,
        0.40886454, 0.27333333, 0.31170663, 0.31643222, 0.515625  ]])

In [24]:
X_train.shape

(309, 10)

In [25]:
X_test.shape

(133, 10)

## Building, training and testing the model using ANN

In [26]:
import tensorflow as tf
from tensorflow import keras
from keras import layers
from keras.models import Sequential
from keras.layers import Dense
from keras.optimizers import SGD, RMSprop

In [27]:
# Define Keras models

model = Sequential()

# input dimension has to be similar to the number of columns expected
# activation is specified as 'relu' for the first layers

model.add(layers.Dense(60, input_dim = 10, activation='relu'))
model.add(layers.Dense(30, activation = 'relu'))


model.add(Dense(1))  # default activation is linear

In [28]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 60)                660
_________________________________________________________________
dense_1 (Dense)              (None, 30)                1830
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 31
=================================================================
Total params: 2,521
Trainable params: 2,521
Non-trainable params: 0
_________________________________________________________________

MSE function caters for outliers as well, hence a higher loss.

Mean Square Log Error (MSLE), a variation of the MSE function, does not pay attention to the outliers, hence a lower loss.

In [29]:
# Compile model - using MSLE

opt = SGD (lr = 0.01, momentum = 0.9) # learning rate and momentum
model.compile(loss = 'msle', optimizer = opt, metrics=['mae', 'mse']) 

# included MAE and MSE for comparison purposes

In [30]:
# Fit model
history = model.fit(X_train, y_train, validation_data=(X_test, y_test), epochs = 20, verbose=0)

hist = pd.DataFrame(history.history)
hist

         loss         mae           mse   val_loss     val_mae       val_mse
0   24.477377  156.565887  30700.542969  23.620558  142.600464  25525.828125
1   24.477381  156.565887  30700.541016  23.620558  142.600464  25525.828125
2   24.477381  156.565872  30700.542969  23.620558  142.600464  25525.828125
3   24.477379  156.565887  30700.537109  23.620558  142.600464  25525.828125
4   24.477381  156.565887  30700.541016  23.620558  142.600464  25525.828125
5   24.477379  156.565887  30700.541016  23.620558  142.600464  25525.828125
6   24.477379  156.565887  30700.541016  23.620558  142.600464  25525.828125
7   24.477381  156.565872  30700.541016  23.620558  142.600464  25525.828125
8   24.477381  156.565887  30700.541016  23.620558  142.600464  25525.828125
9   24.477381  156.565887  30700.541016  23.620558  142.600464  25525.828125
10  24.477377  156.565887  30700.537109  23.620558  142.600464  25525.828125
11  24.477379  156.565887  30700.537109  23.620558  142.600464  25525.828125
12  24.477377  156.565887  30700.541016  23.620558  142.600464  25525.828125
13  24.477381  156.565903  30700.542969  23.620558  142.600464  25525.828125
14  24.477379  156.565872  30700.542969  23.620558  142.600464  25525.828125
15  24.477379  156.565887  30700.542969  23.620558  142.600464  25525.828125
16  24.477379  156.565872  30700.541016  23.620558  142.600464  25525.828125
17  24.477377  156.565903  30700.541016  23.620558  142.600464  25525.828125
18  24.477379  156.565872  30700.537109  23.620558  142.600464  25525.828125
19  24.477379  156.565887  30700.542969  23.620558  142.600464  25525.828125

In [31]:
# Evaluate the keras model
train_model = model.evaluate(X_train, y_train, verbose=0)
test_model = model.evaluate(X_test, y_test, verbose=0)

print('Train :',train_model[0])
print('Test :',test_model[0])

Train : 24.477380752563477
Test : 23.62055778503418